
html,body
{
    margin: 0;
    padding: 0;
    font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
    background: #e0e0e0;
    margin-bottom: 100px;
}
.container
{
    margin: 0;
    padding: 0;
    
}
.container-new
{
    width: 800px;
    position: relative;
    left: 50%;
    margin-left: -400px;
    margin-top: 100px;
    padding: 10px;
}
.box
{
    padding: 20px;
    background: #FFF;
    width: 100%;
    left: -22px;
    margin: 0px;
    border-radius: 10px;
    z-index: 3;
    position: relative;
    margin-top: 20px;
    padding-top: 40px;
    -webkit-box-shadow: 2px -2px 44px -18px rgba(0,0,0,1);
    -moz-box-shadow: 2px -2px 44px -18px rgba(0,0,0,1);
    box-shadow: 2px -2px 44px -18px rgba(0,0,0,1);

}

.box2
{
    padding: 20px;
    background: #f4f4f4;
    width: 100%;
    left: -16px;
    margin: 0px;
    z-index: 3;
    border-radius: 10px;
    position: relative;
    margin-top: 20px;
    padding-top: 40px;
}
.main_image
{
    position: relative;
    left: 50%;
    z-index: 1;
    width: 0px;
    bottom: -100px;
}
.add_input
{
    border: thin;
    padding: 10px;
    background: transparent;
    outline: none;
    width: 100%;
}
.hint
{
    color: #d6d6d6;
    margin-left: 30px;
    display: none;
    width: 40%;
    margin-top: 10px;
    border-bottom: 1px solid;
    outline: none;
}
#title
{
    font-size: 28px;
    color: #009688;
}
#year
{
    font-size: 25px;
    color: #333;
}
#login_back
{
    background: url('images/login_back.jpg');
    background-size: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
#intro
{
    font-size: 20px;
    margin-left: 30px;
    width: 90%;
    height: 250px;
    color: #7d7d7d;
}
#scribble
{
     font-size: 17px;
    margin-left: 30px;
    width: 90%;
    height: 150px;
    color: #7d7d7d;
}   
#login_img
{
    position: absolute;
    width: 500px;
    bottom: 10%;
    left: 50%;
    margin-left: -230px;
    
}
.event
{
    display: inline; 
    border: thin;
    padding: 10px;
    background: transparent;
    outline: none;
}

.drop_top
{
    padding: 10px;
    position: fixed;
    top: -10px;
    z-index: 100;
    left: 50%;
    width: 400px;
    max-width: 400px;
    margin-left: -200px;
    margin-top:-1000px;
    background: rgba(255,255,255,.5);
    height: 250px;
    border-radius: 10px;
    overflow: hidden;
    -webkit-box-shadow: -4px 17px 84px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: -4px 17px 84px -8px rgba(0,0,0,0.75);
    box-shadow: -4px 17px 84px -8px rgba(0,0,0,0.75);
}
.gallery_drop
{
    padding: 30px;
    position: fixed;
    top: -10px;
    left: 50%;
    width: 900px;
    z-index: 5000;
    margin-top: -110%;
    max-width: 900px;
    margin-left: -480px;
    max-height: 70%;
    overflow: scroll;
    background: #eee;
    height: 250px;
    border-radius: 10px;
    overflow: hidden;
    -webkit-box-shadow: -4px 17px 84px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: -4px 17px 84px -8px rgba(0,0,0,0.75);
    box-shadow: -4px 17px 84px -8px rgba(0,0,0,0.75);
}
.image_holder
{
    cursor: pointer;
    width: 150px;
    height: 150px;
    margin: 20px;
    display: inline;
    position: relative;
    border-radius: 5px;
    transition: .2s ease;
    -webkit-box-shadow: 2px -2px 68px -18px rgba(0,0,0,1);
    -moz-box-shadow: 2px -2px 68px -18px rgba(0,0,0,1);
    box-shadow: 2px -2px 68px -18px rgba(0,0,0,1);
}
.image_holder:hover
{
    -webkit-box-shadow: 2px -2px 113px -18px rgba(0,0,0,1);
    -moz-box-shadow: 2px -2px 113px -18px rgba(0,0,0,1);
    box-shadow: 2px -2px 113px -18px rgba(0,0,0,1);
}
.button
{
    font-size: 16px;
    color: #009688;
    border: thin;
    position: relative;
    margin-left: 90%;
    outline: none;
    cursor: pointer;
    width: 100px;
    z-index: 5;
    background: transparent;
    
}
.button2
{
    font-size: 16px;
    color: #FFF;
    border: thin;
    position: relative;
    outline: none;
    cursor: pointer;
    z-index: 5;
    margin: 10px;
    background: transparent;
    
}
.add_image
{
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 20px;
    padding-top: 20px;
    color: #bbb;
    border-bottom: 2px solid;
    cursor: pointer;
}

.input_big
{
    padding: 10px;
    background: rgba(255,255,255,.0);
    border: thin;
    border-radius: 5px;
    font-size: 19px;
    outline: none;
    width: 90%;
    color: #ccc;
    margin-top: 10px;
}
::-webkit-input-placeholder {
   color: #ccc;
}

:-moz-placeholder { /* Firefox 18- */
   color: #ccc;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #ccc;  
}

:-ms-input-placeholder {  
   color: #ccc;  
}
.login_but
{
    padding: 5px;
    border: 1px solid;
    border-color: #ccc;
    cursor: pointer;
    transition: .5s ease;
    border-radius: 5px;
    font-size: 18px;
    margin-top:10px;
    width: 70px;
    position: relative;
    left: 50%;
    margin-left: -39px;
    color: #FFF;
    background: transparent;
}
.login_but:hover
{
    background:rgba(255,255,255,.2);
}

.nav_main
{
    background: #FFF;
    border-bottom: 1px solid;
    border-color: #009688;
    width: 100%;
    position: fixed;
    top: 0;
    height: 90px;
    z-index: 100;
}
#logo_nav
{
    position: absolute;
    top: 15px;
    left: 50%;
    width: 200px;
    margin-left: -100px;
}
.date
{
    font-size: 18px;
    color: #535353;
}